body {
    height: 100vh;
    background-image: url('../images/fondo.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container2 {
    margin-top: 100px;
}

.avatar {
    width: 30px;
}